<div class="latestcontainer" *ngIf="!router.url.includes('pagenotfound')" fxLayout="column" fxLayoutGap="10px">
    <div fxflex>
        <div>
            <h3>Latest Products</h3>
            <hr>
        </div>
    </div>
    <div fxFlex>
        <mat-grid-list cols="1" rowHeight="200px">
            <mat-grid-tile *ngFor="let product of products" [routerLink]="['/productdetails',product.productId]">
                <img height="200px" src="/assets/images/{{product.productId}}.jpg" alt="{{product.productName}}">
                <mat-grid-tile-footer>
                    <h1>{{product.productName | uppercase}}</h1>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</div>