.chatbot {
    position: fixed;
    overflow: hidden;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    width: 340px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 52px;
}

.example-margin {
    margin: 0 10px;
}

.half-width {
    width: 65%;
    margin-left: 10px;
}

.searchbtn {
    margin-left: 22px;
}

.filterbtn {
    margin: 0 auto;
    display: block;
}

.full-width {
    width: 95%;
    margin-left: 10px;
}