<div class="container" fxLayout="column" fxLayoutGap="10px">

    <div fxflex>
        <div>
            <h3>Add Product</h3>
            <hr>
        </div>
    </div>

    <div fxFlex fxFlexOffset="20px" class="form-size">

        <form novalidate [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field class="half-width">
                    <input matInput formControlName="productName" placeholder="Product Name" type="text" required>
                </mat-form-field>
                <mat-form-field class="half-width">
                    <input matInput formControlName="size" placeholder="Screen Size" type="number" min="7" max="12" onkeyup="if(parseInt(this.value)>12 || parseInt(this.value)<7 ){ this.value =12; return false; }" required>
                </mat-form-field>
            </p>
            <table class="form-size">
                <td>
                    <mat-slide-toggle formControlName="touchscreen">TouchScreen</mat-slide-toggle>
                </td>
                <td>
                    <mat-slide-toggle formControlName="portable">Portable</mat-slide-toggle>
                </td>
                <td>

                    <mat-select placeholder="Category" formControlName="category">
                        <mat-option *ngFor="let ctype of category" [value]="ctype">
                            {{ ctype }}
                        </mat-option>
                    </mat-select>

                </td>
            </table>
            <button type="submit" mat-raised-button class="background-primary text-floral-white submitbtn" [disabled]="productForm.invalid">Submit</button>
        </form>
    </div>

</div>