mat-card img {
    object-fit: cover;
    width: 80%;
    height: 40%;
}

.mat-card-content {
    padding: 10px;
}

.contactbtn {
    padding: 10px;
}

.delete {
    margin-left: 140px;
}

$background-moredark: #4527A0;
.active {
    background: $background-moredark;
}